@import vars.sass
@import fonts.sass

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden
	color: #2f2f2f

h1, h2, h3, h4, h5, h6
	font-family: "RobotoRegular", sans-serif
	font-weight: normal

a
	outline: none !important


.main-head
	position: relative
	background: url(../img/images/bgTop.jpg) no-repeat
	.head-bottom-png
		height: 610px
		background: url(../img/images/sliderL.png) no-repeat
		background-position: bottom right
		overflow: hidden
	height: 610px
	background-size: cover
	background-position: top center
	overflow: hidden

.mnu-line
	padding-top: 62px
	.logo
		display: block

nav
	ul
		list-style-type: none
		padding: 0
		margin: 0
		padding-top: 10px
		li
			display: inline-block
			&:not(.active)
				border-left: 1px solid #222	
			a
				margin: 0 15px
				color: #fff
				font-size: em(14px)
				font-weight: bold
				text-transform: uppercase
				font-family: "OpenSansBold", sans-serif
	
			
.main-mnu
	.active
		> a
				color: $accent
				text-decoration: none
				margin-left: 0
	a:hover
		color: $accent
		text-decoration: none
		transition: all .5s ease


.owl-carousel
	font-size: 100px
	color: #fff		
	padding-left: 200px
	padding-top: 125px
	font-family: "OpenSansBold", sans-serif
	.text-carousel
		color: #fff
		text-decoration: none
		span:hover
			margin: 0
			padding-bottom: 5px
			box-shadow: 0 4px 0 $accent
			transition: all .5s ease

	
	.owl-nav
		display: none
	.owl-dot
		display: block
		width: 12px
		height: 12px
		margin-right: 12px
		display: inline-block
		border-radius: 50%
		background-color: #796C69
		&:hover
			background-color: #fff
			transition: all .5s ease




@import app/sass/owl.carousel.sass
